## Student Performance Indicator

### Problem Statement
This project understand how the student's performance (test score) is affected by other variables such as Gender, Ethnicity,parental_level_of_education,etc

In [1]:
# import required all librarires 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')

In [2]:
#import the csv file
df = pd.read_csv('data/stud.csv')

In [3]:
df.head()

  gedender race_ethnicity  ... reading_score writing_score
0   female        group B  ...            72            74
1   female        group C  ...            90            88
2   female        group B  ...            95            93
3     male        group A  ...            57            44
4     male        group C  ...            78            75

[5 rows x 8 columns]